<div th:fragment="alert-bar">
  <!-- sadece mesaj varsa JS bloğu enjekte edilir -->
  <div th:if="${messageResponseWithStatus != null}">
    <script th:inline="javascript">
      /*<![CDATA[*/
      const alertMessage = /*[[${messageResponseWithStatus.message}]]*/ null;
      const alertStatus = /*[[${messageResponseWithStatus.isStatusOk}]]*/ false
        ? "success"
        : "error";

      if (alertMessage && alertStatus) {
        localStorage.setItem(
          "alertMessage",
          JSON.stringify({ message: alertMessage, status: alertStatus })
        );
      }
      /*]]>*/
    </script>
  </div>
</div>
