<footer class="footer" th:fragment="footer">
  <div class="container container-footer text-center">
    <div class="container-footer__copyrigt-text">
      &copy; <span class="year">2025</span> by
      <a
        href="https://github.com/mrtmnr"
        class="container-footer__copyrigt-text__link"
        target="_blank"
        title="Go to Github profile of Mert Munar"
        >Mert Munar</a
      >
      and
      <a
        href="https://github.com/tunhnakca"
        class="container-footer__copyrigt-text__link"
        target="_blank"
        title="Go to Github profile of Tunahan Akça"
        >Tunahan Akça</a
      >
    </div>
  </div>
</footer>
