<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title th:text="${courseCode + ' | Add Project'}">Add Project</title>
  </head>
  <body>
    <section class="section section-add-project" layout:fragment="content">
      <div class="container container-add-project container-form">
        <h2 class="heading-secondary add-project__heading">Add Project</h2>
        <form
          th:action="@{/projects/add}"
          method="post"
          class="form form-add-project"
          th:object="${project}"
        >
          <input type="hidden" name="courseCode" th:value="${courseCode}" />

          <div class="form-group">
            <label for="projectName">Project Name</label>
            <input
              type="text"
              id="projectName"
              th:field="*{title}"
              placeholder="Enter project name"
              required
            />
          </div>
          <div class="form-group">
            <label for="projectDescription">Description</label>
            <textarea
              id="projectDescription"
              th:field="*{description}"
              placeholder="Enter project description"
              rows="12"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="projectDateCreated">Start Date</label>
            <input
              type="datetime-local"
              id="projectDateCreated"
              th:field="*{dateCreated}"
              required
            />
          </div>
          <div class="form-group">
            <label for="projectDateEnd">End Date</label>
            <input
              type="datetime-local"
              id="projectDateEnd"
              th:field="*{dateEnd}"
              required
            />
          </div>
          <button type="submit" class="btn btn__add-project btn--success">
            Add Project
          </button>
        </form>
      </div>
    </section>
  </body>
</html>
