<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Add Semester</title>
  </head>
  <body>
    <section class="section section-add-semester" layout:fragment="content">
      <div class="container container-add-semester container-form">
        <h2
          class="heading-secondary add-semester"
          th:text="${semester.isActive} ? 'Update Semester' : 'Add Semester'"
        ></h2>

        <form
          th:action="@{/semester/add}"
          method="post"
          class="form form-add-semester"
          th:object="${semester}"
          name="add-semester"
        >
          <!-- If semester is active send semester id -->
          <input type="hidden" th:if="${semester.isActive}" th:field="*{id}" />

          <div class="form-group">
            <label for="semesterStartDate">Start Date</label>
            <input
              type="datetime-local"
              id="semesterStartDate"
              th:field="*{startDate}"
              th:disabled="${semester.isActive}"
              th:readonly="${semester.isActive}"
              required
            />
            <!-- If semester is active send start date value -->
            <input
              type="hidden"
              th:if="${semester.isActive}"
              th:field="*{startDate}"
            />
          </div>

          <div class="form-group">
            <label for="semesterEndDate">End Date</label>
            <input
              type="datetime-local"
              id="semesterEndDate"
              th:field="*{endDate}"
              required
            />
          </div>
          <div class="form-group">
            <label for="semesterSeason">Season</label>
            <select
              th:field="*{season}"
              id="semesterSeason"
              th:disabled="${semester.isActive}"
              required
            >
              <option value="FALL">Fall</option>
              <option value="SPRING">Spring</option>
            </select>
            <!-- If semester is active send season value -->
            <input
              type="hidden"
              th:if="${semester.isActive}"
              th:field="*{season}"
            />
          </div>
          <button
            type="submit"
            class="btn btn__add-semester"
            th:classappend="${semester.isActive} ? 'btn--primary' : 'btn--success'"
            th:text="${semester.isActive} ? 'Update Semester' : 'Add Semester'"
          ></button>
        </form>
      </div>
    </section>
  </body>
</html>
