<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Courses</title>
  </head>
  <body>
    <section class="section-courses" layout:fragment="content">
      <div class="container container-courses">
        <div class="courses">
          <a href="#" class="course">
            <span class="course__code">SWE420</span>
            <p class="course__title">Natural Language Processing</p>
            <p class="course__instructor">Assistant Professor BEYZA EKEN</p>
            <ul class="course__informations">
              <li>
                <ion-icon
                  name="checkmark-circle-outline"
                  class="course__information__icon course__information__icon--open-projects"
                ></ion-icon>
                <span class="course__information"
                  >Open Projects <span>1</span></span
                >
              </li>
              <li>
                <ion-icon
                  name="close-circle-outline"
                  class="course__information__icon course__information__icon--closed-projects"
                ></ion-icon>
                <span class="course__information"
                  >Closed Projects <span>4</span></span
                >
              </li>
              <li>
                <ion-icon
                  name="people-outline"
                  class="course__information__icon"
                ></ion-icon>
                <span class="course__information"
                  >Number of Students <span>54</span></span
                >
              </li>
            </ul>
          </a>
          <a href="#" class="course">
            <span class="course__code">SWE418</span>
            <p class="course__title">
              Software Security and Software Quality Assurance
            </p>
            <p class="course__instructor">Assoc. Prof. Dr. UNAL CAVUSOGLU</p>
            <ul class="course__informations">
              <li>
                <ion-icon
                  name="checkmark-circle-outline"
                  class="course__information__icon course__information__icon--open-projects"
                ></ion-icon>
                <span class="course__information"
                  >Open Projects <span>3</span></span
                >
              </li>
              <li>
                <ion-icon
                  name="close-circle-outline"
                  class="course__information__icon course__information__icon--closed-projects"
                ></ion-icon>
                <span class="course__information"
                  >Closed Projects <span>12</span></span
                >
              </li>
              <li>
                <ion-icon
                  name="people-outline"
                  class="course__information__icon"
                ></ion-icon>
                <span class="course__information"
                  >Number of Students <span>58</span></span
                >
              </li>
            </ul>
          </a>
          <a href="#" class="course">
            <span class="course__code">SWE423</span>
            <p class="course__title">Data Analytics</p>
            <p class="course__instructor">Assistant Professor NUR BANU OĞUR</p>
            <ul class="course__informations">
              <li>
                <ion-icon
                  name="checkmark-circle-outline"
                  class="course__information__icon course__information__icon--open-projects"
                ></ion-icon>
                <span class="course__information"
                  >Open Projects <span>0</span></span
                >
              </li>
              <li>
                <ion-icon
                  name="close-circle-outline"
                  class="course__information__icon course__information__icon--closed-projects"
                ></ion-icon>
                <span class="course__information"
                  >Closed Projects <span>0</span></span
                >
              </li>
              <li>
                <ion-icon
                  name="people-outline"
                  class="course__information__icon"
                ></ion-icon>
                <span class="course__information"
                  >Number of Students <span>33</span></span
                >
              </li>
            </ul>
          </a>
          <a href="#" class="course">
            <span class="course__code">SWE307</span>
            <p class="course__title">Big Data</p>
            <p class="course__instructor">Prof. Dr. AHMET OZMEN</p>
            <ul class="course__informations">
              <li>
                <ion-icon
                  name="checkmark-circle-outline"
                  class="course__information__icon course__information__icon--open-projects"
                ></ion-icon>
                <span class="course__information"
                  >Open Projects <span>2</span></span
                >
              </li>
              <li>
                <ion-icon
                  name="close-circle-outline"
                  class="course__information__icon course__information__icon--closed-projects"
                ></ion-icon>
                <span class="course__information"
                  >Closed Projects <span>3</span></span
                >
              </li>
              <li>
                <ion-icon
                  name="people-outline"
                  class="course__information__icon"
                ></ion-icon>
                <span class="course__information"
                  >Number of Students <span>103</span></span
                >
              </li>
            </ul>
          </a>
        </div>
        <div class="courses-buttons">
          <a class="courses-buttons__link link-btn link-btn--danger" href="#"
            >Delete Course</a
          >
          <a class="courses-buttons__link link-btn link-btn--success" href="#"
            >Add Course</a
          >
        </div>
      </div>
    </section>
  </body>
</html>
