<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Courses</title>
  </head>
  <body>
    <section class="section section-courses" layout:fragment="content">
      <div class="container container-courses">
        <div class="courses">
          <a
            th:href="@{/projects(courseCode=${course.getCode()})}"
            class="course"
            th:each="course : ${courses}"
            th:data-course-id="${course.id}"
          >
            <span class="course__code" th:text="${course.code}">SWE000</span>
            <p class="course__title" th:text="${course.title}">Course Title</p>
            <p class="course__instructor" th:text="${course.owner}">
              Deg - Name Surname
            </p>
            <ul class="course__informations">
              <li>
                <ion-icon
                  name="checkmark-circle-outline"
                  class="course__information__icon course__information__icon--open-projects"
                ></ion-icon>
                <span class="course__information"
                  >Open Projects <span>1</span></span
                >
              </li>
              <li>
                <ion-icon
                  name="close-circle-outline"
                  class="course__information__icon course__information__icon--closed-projects"
                ></ion-icon>
                <span class="course__information"
                  >Closed Projects <span>4</span></span
                >
              </li>
              <li>
                <ion-icon
                  name="people-outline"
                  class="course__information__icon"
                ></ion-icon>
                <span class="course__information"
                  >Number of Students <span>54</span></span
                >
              </li>
            </ul>
          </a>
        </div>

        <div
          class="courses-buttons"
          th:if="${#strings.toLowerCase(loggedUser.role).replace('ı', 'i') == 'admin' or #strings.toLowerCase(loggedUser.role).replace('ı', 'i') == 'instructor'}"
        >
          <a
            class="courses-buttons__link courses-buttons__link--delete link-btn link-btn--danger"
            href=""
            >Delete Course</a
          >
          <a
            class="courses-buttons__link courses-buttons__link--add link-btn link-btn--success"
            th:href="@{/courses/add}"
            >Add Course</a
          >
        </div>
      </div>
    </section>
  </body>
</html>
