<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/dist/scss/main.css}" />
    <script type="module" defer th:src="@{/dist/js/app.js}"></script>

    <title>Learning Platform</title>
  </head>
  <body>
    <header class="header">
      <div th:replace="~{fragments/navbar.html}"></div>
    </header>

    <main></main>
  </body>
</html>
