<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title th:text="${project.title + ' | Posts'}">Posts</title>
  </head>
  <body>
    <section class="section-posts" layout:fragment="content">
      <!-- Left: Sidebar -->
      <div class="posts__sidebar">
        <div class="posts__sidebar-course__informations">
          <div class="posts__sidebar-course__information">
            <p class="posts__sidebar-course__information__heading">
              Course Code:
            </p>
            <p
              class="posts__sidebar-course__information__value"
              th:text="${project.course.code}"
            ></p>
          </div>
          <div class="posts__sidebar-course__information">
            <p class="posts__sidebar-course__information__heading">
              Course Title:
            </p>
            <p
              class="posts__sidebar-course__information__value"
              th:text="${project.course.title}"
            ></p>
          </div>
          <div class="posts__sidebar-course__information">
            <p class="posts__sidebar-course__information__heading">
              Course Owner:
            </p>
            <p
              class="posts__sidebar-course__information__value"
              th:text="${project.course.owner}"
            ></p>
          </div>
          <div class="posts__sidebar-course__information">
            <p class="posts__sidebar-course__information__heading">
              Project Name:
            </p>
            <p
              class="posts__sidebar-course__information__value"
              th:text="${project.title}"
            ></p>
          </div>
          <div class="posts__sidebar-course__information">
            <p class="posts__sidebar-course__information__heading">
              Start Date:
            </p>
            <p
              class="posts__sidebar-course__information__value posts__sidebar-course__information__value__date"
              th:data-date="${project.startDate}"
            ></p>
          </div>
          <div class="posts__sidebar-course__information">
            <p
              class="posts__sidebar-course__information__heading posts__sidebar-course__information__value__date"
            >
              End Date:
            </p>
            <p
              class="posts__sidebar-course__information__value posts__sidebar-course__information__value__date"
              th:data-date="${project.endDate}"
            ></p>
          </div>
        </div>
      </div>

      <div class="posts-wrapper">
        <div class="container-posts">
          <div class="users-header">
            <!--
<form th:action="@{/users/search}" method="GET" class="search">
            -->

            <form method="GET" class="search">
              <input
                type="text"
                name="keyword"
                class="search__field"
                placeholder="Search..."
                th:value="${keyword}"
              />

              <!--
                <input
                type="hidden"
                name="courseCode"
                th:value="${course.code}"
                />
              -->

              <button type="submit" class="search__btn">
                <ion-icon class="search__icon" name="search-outline"></ion-icon>
              </button>
            </form>
          </div>

          <div class="post-list">
            <!-- PROJECT INFO - ONLY show if page 1 and NO search -->
            <div class="post project-info">
              <div class="post-metadata">
                <span
                  class="post-author"
                  th:text="${project.course.owner}"
                ></span>
                <span>|</span>
                <span class="badge badge--instructor">Instructor</span>
              </div>
              <div class="post-box">
                <div
                  class="post-content"
                  th:utext="${project.description}"
                ></div>
              </div>
              <div class="post-metadata">
                <span
                  class="post-date"
                  th:data-date="${project.startDate}"
                ></span>
              </div>
            </div>
            <!-- MESSAGES LOOP -->
            <div class="post post--right post--student">
              <div class="post-metadata">
                <span class="post-author">B201202056</span>
                <span>|</span>
                <span class="badge badge--student">Student</span>
              </div>
              <div class="post-box">
                <div class="post-content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Consectetur mollitia reprehenderit magni provident eius optio
                  odit reiciendis commodi, impedit voluptatum omnis vero maxime
                  et amet voluptates esse magnam quo adipisci.
                </div>
              </div>
              <div class="post-metadata">
                <span class="post-date">19:04, 30/02/2025</span>
              </div>
            </div>
            <div class="post post--left post--admin">
              <div class="post-metadata">
                <span class="post-author">B201202056</span>
                <span>|</span>
                <span class="badge badge--admin">Admin</span>
              </div>
              <div class="post-box">
                <div class="post-content">
                  Hatanın farkındayız. Gerekli işlemleri sağlıyoruz.
                </div>
              </div>
              <div class="post-metadata">
                <span class="post-date">19:05, 30/03/2025</span>
              </div>
            </div>
            <div class="post post--left post--student">
              <div class="post-metadata">
                <span class="post-author">G201202057</span>
                <span>|</span>
                <span class="badge badge--instructor">Instructor</span>
              </div>
              <div class="post-box">
                <div class="post-content">
                  Derhal herkes projeye cevap versin.
                </div>
              </div>
              <div class="post-metadata">
                <span class="post-date">19:07, 30/03/2025</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
