<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title th:text="${project.title + ' | Posts'}">Posts</title>
  </head>
  <body>
    <section class="section-posts" layout:fragment="content">
      <!-- Left: Sidebar -->
      <div class="posts__sidebar">
        <div class="posts__sidebar-course__informations">
          <div class="posts__sidebar-course__information">
            <p class="posts__sidebar-course__information__heading">
              Course Code:
            </p>
            <p
              class="posts__sidebar-course__information__value"
              th:text="${project.course.code}"
            ></p>
          </div>
          <div class="posts__sidebar-course__information">
            <p class="posts__sidebar-course__information__heading">
              Course Title:
            </p>
            <p
              class="posts__sidebar-course__information__value"
              th:text="${project.course.title}"
            ></p>
          </div>
          <div class="posts__sidebar-course__information">
            <p class="posts__sidebar-course__information__heading">
              Course Owner:
            </p>
            <p
              class="posts__sidebar-course__information__value"
              th:text="${project.course.owner}"
            ></p>
          </div>
          <div class="posts__sidebar-course__information">
            <p class="posts__sidebar-course__information__heading">
              Project Name:
            </p>
            <p
              class="posts__sidebar-course__information__value"
              th:text="${project.title}"
            ></p>
          </div>
          <div class="posts__sidebar-course__information">
            <p class="posts__sidebar-course__information__heading">
              Start Date:
            </p>
            <p
              class="posts__sidebar-course__information__value posts__sidebar-course__information__value__date"
              th:data-date="${project.startDate}"
            ></p>
          </div>
          <div class="posts__sidebar-course__information">
            <p
              class="posts__sidebar-course__information__heading posts__sidebar-course__information__value__date"
            >
              End Date:
            </p>
            <p
              class="posts__sidebar-course__information__value posts__sidebar-course__information__value__date"
              th:data-date="${project.endDate}"
            ></p>
          </div>
        </div>
      </div>

      <div class="posts-wrapper">
        <div class="container-posts">
          <div class="users-header">
            <!--
<form th:action="@{/users/search}" method="GET" class="search">
            -->

            <form method="GET" class="search">
              <input
                type="text"
                name="keyword"
                class="search__field"
                placeholder="Search..."
                th:value="${keyword}"
              />

              <!--
                <input
                type="hidden"
                name="courseCode"
                th:value="${course.code}"
                />
              -->

              <button type="submit" class="search__btn">
                <ion-icon class="search__icon" name="search-outline"></ion-icon>
              </button>
            </form>
          </div>

          <div class="post-list">
            <div class="post-metadata">
              <span class="post-author">Ahmet Ozmen</span>
              <span class="post-date">15:03, 20/01/2025</span>
            </div>
            <div class="post-box">
              <div class="post-content" th:utext="${project.description}"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
