<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Profile</title>
  </head>
  <body>
    <section class="section-profile" layout:fragment="content">
      <div class="container container-profile">
        <h3 class="profile__heading">My Account</h3>
        <p class="profile__description">
          View and manage your account information.
        </p>
        <div class="profile__informations">
          <div class="profile__information">
            <p class="profile__information-heading">Role</p>
            <p th:text="${loggedUser.role}" class="profile__information-value">
              Role
            </p>
          </div>
          <div class="profile__information">
            <p class="profile__information-heading">Name and Surname</p>
            <p
              th:text="${loggedUser.name} + ' ' + ${loggedUser.surname}"
              class="profile__information-value"
            >
              Name and Surname
            </p>
          </div>
          <div class="profile__information">
            <p class="profile__information-heading">Username</p>
            <p
              th:text="${loggedUser.number}"
              class="profile__information-value"
            >
              B*********
            </p>
          </div>
          <div class="profile__information">
            <p class="profile__information-heading">Number</p>
            <p
              th:text="${loggedUser.number}"
              class="profile__information-value"
            >
              B*********
            </p>
          </div>
          <div class="profile__information">
            <p class="profile__information-heading">Change Password</p>
            <form
              th:action="@{/password/change}"
              method="post"
              class="change-password-form"
            >
              <input
                type="password"
                name="currentPassword"
                id="currentPassword"
                placeholder="Current password"
                required
              />
              <input
                type="password"
                name="newPassword"
                id="newPassword"
                placeholder="New password"
                required
              />
              <input
                type="password"
                name="confirmNewPassword"
                id="confirmNewPassword"
                placeholder="Confirm new password"
                required
              />
              <button
                type="submit"
                class="btn btn--primary change-password-button"
              >
                Update Password
              </button>
            </form>
          </div>
        </div>
      </div>
      <!--Alert Bar-->
      <div
        th:if="${messageResponse.message}"
        th:fragment="alert-bar"
        class="alert-bar"
        th:classappend="${messageResponse.status == T(org.springframework.http.HttpStatus).OK ? 'alert-bar--success' : 'alert-bar--error'}"
      >
        <ion-icon name="alert-circle-outline" class="alert-icon"></ion-icon>
        <span class="alert-message" th:text="${messageResponse.message}">
          Default error message
        </span>
        <ion-icon name="close-outline" class="alert-close"></ion-icon>
        <div class="alert-progress-bar"></div>
      </div>
    </section>
  </body>
</html>
