<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}"
>
  <head>
    <title>Projects</title>
  </head>
  <body>
    <section class="section-projects" layout:fragment="content">
      <!-- Left: Sidebar -->
      <div class="projects__sidebar">
        <!-- <h5 class="text-center">Course Info</h5> -->
        <div class="projects__sidebar-course__informations">
          <div class="projects__sidebar-course__information">
            <p class="projects__sidebar-course__information__heading">
              Course Code:
            </p>
            <p class="projects__sidebar-course__information__value">SWE101</p>
          </div>
          <div class="projects__sidebar-course__information">
            <p class="projects__sidebar-course__information__heading">
              Course Title:
            </p>
            <p class="projects__sidebar-course__information__value">
              Natural Language Processing
            </p>
          </div>
          <div class="projects__sidebar-course__information">
            <p class="projects__sidebar-course__information__heading">
              Course Owner:
            </p>
            <p class="projects__sidebar-course__information__value">
              Beyza Eken
            </p>
          </div>
          <div class="projects__sidebar-course__information">
            <p class="projects__sidebar-course__information__heading">
              Course Users:
            </p>
            <p class="projects__sidebar-course__information__value">
              <a href="#" target="_blank">Go to users</a>
            </p>
          </div>
        </div>
      </div>

      <div class="projects-wrapper">
        <div class="container-projects">
          <!-- Search and Filters -->
          <!-- Search Bar -->
          <div class="projects-header">
            <form th:action="@{/projects/search}" method="GET" class="search">
              <input
                type="text"
                name="keyword"
                class="search__field"
                placeholder="Search by Project Title"
                th:value="${keyword}"
              />
              <input type="hidden" name="courseId" th:value="${courseId}" />
              <button type="submit" class="search__btn">
                <ion-icon class="search__icon" name="search-outline"></ion-icon>
              </button>
            </form>

            <!-- Filter Dropdown -->
            <form th:action="@{/projects/filter}" method="GET" class="filter">
              <select
                name="filter"
                class="filter__dropdown"
                onchange="this.form.submit()"
              >
                <option value="" disabled selected>Filter by</option>
                <option th:value="new" th:selected="${filter == 'new'}">
                  Newest to Oldest
                </option>
                <option th:value="old" th:selected="${filter == 'old'}">
                  Oldest to Newest
                </option>
                <option th:value="open" th:selected="${filter == 'open'}">
                  Open Projects
                </option>
                <option th:value="closed" th:selected="${filter == 'closed'}">
                  Closed Projects
                </option>
              </select>
              <input type="hidden" name="courseId" th:value="${courseId}" />
            </form>
          </div>

          <!-- Main Content -->
          <div class="projects-main">
            <!-- Left: Project List -->
            <div class="projects-main__list">
              <!-- Project Items -->
              <div class="projects"></div>
              <div class="project-pagination"></div>
              <!-- Pagination -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
