<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/dist/scss/main.css}" />

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <script type="module" defer th:src="@{/dist/js/app.js}"></script>

    <title>Reset Password</title>
  </head>
  <body>
    <div class="container__reset-password">
      <h4 class="reset-password__heading">Reset Your Password</h4>
      <form
        th:action="@{/reset/password}"
        method="post"
        class="reset-password__form"
      >
        <p class="reset-password__description">
          Enter a new password below to change your password
        </p>

        <!-- Burada hidden olarak token yolla-->

        <div class="reset-password__input-group">
          <label for="resetNewPasswordInput">New Password</label>
          <input
            type="password"
            name="newPassword"
            id="resetNewPasswordInput"
            placeholder="Create a new password"
            required
          />
        </div>

        <div class="reset-password__input-group">
          <label for="resetConfirmNewPasswordInput">Confirm New Password</label>
          <input
            type="password"
            name="confirmNewPassword"
            id="resetConfirmNewPasswordInput"
            placeholder="Re-enter your password"
            required
          />
        </div>

        <button type="submit" class="btn btn__reset-password btn--primary">
          Reset Password
        </button>
      </form>
    </div>

    <div th:replace="~{fragments/alert-bar :: alert-bar}"></div>
    <div
      th:replace="~{fragments/alert-bar-with-fetch :: alert-bar-with-fetch}"
    ></div>
    <div class="overlay d-none"></div>
  </body>
</html>
