@use "../abstracts/base" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/utilities" as *;
@use "../components" as *;

.section-add-semester {
  .error-message {
    color: $color-danger;
    margin-top: 1rem;
  }

  .input-error {
    border-color: $color-danger !important;

    &::placeholder {
      color: $color-danger !important;
    }
  }
}

.add-semester {
  text-align: center;
}

.btn__add-semester {
  align-self: end;

  &:disabled {
    background-color: $color-disable;
    color: $color-grey-light-6;
    cursor: not-allowed;
  }
}
