@use "../abstracts/base" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/utilities" as *;
@use "../components" as *;

.section-posts {
  display: flex;
  overflow: hidden;
}

.posts__sidebar {
  width: 30rem;
  padding: 1.2rem 2.4rem;
  overflow: hidden;
  background-color: #fff;
  border-right: 1px solid $color-grey-light-2;
  overflow-y: auto;
  position: sticky;
  top: 0;

  &-course__informations {
    display: flex;
    flex-direction: column;
  }

  &-course__information {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 2rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid #e2e5e9;
    }

    &__heading {
      font-size: 1.4rem;
    }

    &__value {
      font-size: 1.4rem;
      color: $color-grey-light-5;
      font-weight: 300;
      text-transform: capitalize;

      a:link,
      a:visited {
        text-decoration: none;
        display: inline-block;
        font-family: inherit;
        font-weight: 400;
        @extend .transition-hover-effect;
        cursor: pointer;
        color: $color-primary;
        border-bottom: 1px solid transparent;
      }

      a:hover,
      a:active {
        border-bottom: 1px solid currentColor;
      }
    }
  }
}

.posts-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  padding: 4.8rem 3.2rem 3.2rem 3.2rem;
  overflow: hidden;
  overflow-y: auto;
}

.container-posts {
  max-width: calc(120rem);
  width: 100%;
  padding: 4.8rem 4.8rem;
  margin: 0 auto;

  background-color: #fff;
  overflow: hidden;
  border-radius: 1rem;
  @include box-shadow(rgba(0, 0, 0, 0.06));
}
