.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.empty-message {
  text-align: center;
  font-style: italic;
  margin: 2rem 0;
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.disabled-link {
  pointer-events: none;
}
